#coa .coach{
    width: 44%;
    height: auto;
    background: #efefef;
    position: relative;
    float: left;
    overflow: auto;
    padding: 10px;
    margin: 30px;
    box-shadow: 5px 5px 4px 2px #aaa;
}
#coa .coach>img{
width: 40%;
height: auto;
float: left;
margin-right: 10px;
}