/* contents --ggwly-gjy start */
#ten div>img{
    width: 100%;
    height: auto;
    margin: 20px;
}
#ten div>p{
    font-size: 16px;
    margin: 20px;
}
#ten div>h3{
    text-align: center;
}
/* contents --ggwly-gjy start */